

.checkout-control:hover, .checkout-control:focus {
  background-color: rgb(149, 194, 31) !important;
}

.checkout-control-amount {
  color: rgb(107, 86, 28);
  width: 5vw;
  font-weight: bold;
}

.bg-light-gray-on-hover:hover, .bg-light-gray-on-hover:focus {
  background-color: rgba(209, 206, 206, 0.3) !important;
}

#productsDivSmall {
  display: none;
}

#paymentButton:disabled {
  background: gray !important;
  cursor: pointer;
}
#paymentButton:disabled:hover, #paymentButton:disabled:focus {
  background: gray !important;
}

#paymentButton:hover, #paymentButton:focus {
  background: red !important;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: rgba(0, 0, 0, 0.2) !important;
  /* border-width: .15vw !important; */
}

.switch input
{
  display: none;
}

.switch 
{
  display: inline-block;
  width: 60px; /*=w*/
  height: 30px; /*=h*/
  margin: 0px 20px !important;
  position: relative;
}

.slider
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px black, 0 0 4px black;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.2s;
}

.slider:before
{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 30px;
  transform: translateX(-30px);
  transition: 0.2s;
}

input:checked + .slider:before
{
  transform: translateX(30px);
}
